.nav {
  ul {
    height: 100%;
    display: flex;

    li{
      height: 100%;
      list-style: none;
      margin: 0 10px;
      width: 100px;
      border-bottom: 2px solid transparent;
      transition: all 200ms;

      a {
        height: 100%;
        display: block;
        text-decoration: none;
        font-family:  "Amatic SC", "Arial Narrow", sans-serif;;
        font-size: 26px;
        text-align: center;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;

        svg{
          margin-right: 10px;
        }
      }
    }

    li:hover{
      border-bottom-color: var(--red);
      color: var(--red);
    }
  }

  @media (max-width: 480px) {
    display: none;
  }
}
